.content {
    max-width: 960px;
    margin: auto;
    text-align: center;
    padding-bottom: 30px;
}

h1 {
  font-family: sans-serif;
  margin: 50px auto;
}

h2 {
  margin-top: 50px;
  color: gray;
}

h3 {
  color: gray;
}
